name: GithubActions Azure Deployment

on:
  push:
    branches:
      - main
    paths:
      - terraform-azure/**
  workflow_dispatch:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    strategy:
      matrix:
        root:
          - ./terraform-azure

    env:
      # Terraform variables
      TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Azure credentials for Terraform (Service Principal)
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    defaults:
      run:
        working-directory: ${{ matrix.root }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Debug folder structure
        run: |
          pwd
          ls -la

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false -var-file="terraform.tfvars" -out=tfplan

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve tfplan
